<div class="page-content page-container" id="page-content">
  <div class="padding">
    <div class="row container d-flex justify-content-center">
      <div class="col-lg-12">
        <div class="card px-3">
          <div class="card-body">
            <h4 class="card-title">
              {{ getName() }} İçin yapılacaklar listesi
            </h4>
            <div class="add-items d-flex">
              <input
                type="text"
                class="form-control todo-list-input"
                placeholder="Bugün neye ihtiyacın var?"
                #textInput
              />
              <button
                class="add btn btn-primary font-weight-bold todo-list-add-btn"
                (click)="addNewTask(textInput.value); textInput.value = ''"
              >
                Ekle
              </button>
            </div>
            <div class="list-wrapper">
              <ul class="d-flex flex-column-reverse todo-list">
                <li
                  *ngFor="let item of getItems()"
                  [ngClass]="{ completed: item.action }"
                >
                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="checkbox" [(ngModel)]="item.action" />
                      {{ item.description }}
                      <i class="input-helper"></i>
                    </label>
                  </div>
                  <label class="remove">
                    <div [ngSwitch]="item.action">
                      <div *ngSwitchCase="true">Yapıldı</div>
                      <div *ngSwitchCase="false">Yapılmadı</div>
                    </div>
                  </label>
                </li>
                <hr />
                <li>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="checkbox" [(ngModel)]="isDisplay" />
                      Tümünü Göster
                      <i class="input-helper"></i>
                    </label>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
